<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <body>
            <table>
                <tr style=>
                    <th style="padding: 10px; color: white; background-color:#1e97c6;">What's Happening At Clavrit Digital Solutions Pvt Ltd 
                        <span style="float: right;">Announcement</span>
                    </th>
                </tr>
                <tr>
                    <td>Clavrit's Mid year Lunch party invite to you all.
                        <!-- <span style="float: right;"><button>send feedback </button></span> -->
                    </td>

                </tr>
                <tr>
                    <td>Employee Appreciation Day – Oct. 7 (first Friday of October)<tr style="font-size:8px ;"></tr></td>
                    
                </tr>
                <tr>
                    <td>Fun activities for employee engagement – the Diwali edition! ⚡️<tr style="font-size:8px ;"></tr></td>
                </tr>
                <tr>
                    <td>Conduct a Corporate Team Outing<tr style="font-size:8px ;">Twice A Year</tr></td>
                </tr>
                <!-- <tr>
                    <td>Maja Pandev requested Saturday.</td>
                </tr> -->
            </table>

        </body>
    </section>
</section>