<app-user-sidebar></app-user-sidebar>

<section id="main-content">

    <section class="wrapper">




        <div style=" margin-top: 80px;margin-left: 19%;background-color:#24aee4;  padding: 4px; "
            class="horizontal-menu navbar-fixed-top">
            <!--  notification start -->
            <ul class="nav navbar-nav">
                <li><a style="color: white; cursor: pointer; " mat-button (click)="scroll(AboutUs)"
                        routerLinkActive="active">About Us</a>
                </li>
                <li><a style="color: white;" mat-button (click)="scroll(career)" routerLink="people"
                        routerLinkActive="active">Careers</a>
                </li>
                <li><a style="color: white; cursor: pointer; " mat-button (click)="scroll(contactUs)"
                        routerLinkActive="active">Contact Us</a>
                </li>
                <li><a style="color: white; cursor: pointer; " mat-button (click)="scroll(ourTech)"
                        routerLinkActive="active">OurTechnologies</a></li>



                <li><a style="color: white; cursor: pointer; " mat-button (click)="scroll(ourTeam)"
                        routerLinkActive="active">Our Team</a>
                </li>
            </ul>
        </div>

        <section class="viamagus-component viamagus_circlimg " #AboutUs data-component-name="columngrid"
            data-bkg-image="">

            <div>
                <div class="viamagus-component-content " style="padding-top: 80px; padding-bottom: 30px;">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span6 columngridone">
                                <div class="image-alignment"> <img
                                        src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919311274about.png"
                                        data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919311274about.png"
                                        class="img-circle img-responsive why-section "
                                        style="height:100px;margin:auto;display:block;"> </div>
                                <div class="columngrid-desc fixedImgAlignmnetFixed ">
                                    <div>
                                        <h2 class="viamagus-heading2">
                                            <div style="text-align: center;">Welcome to Clavrit</div>
                                        </h2>
                                        <div class="viamagus-paragraph">
                                            <div style="text-align: center;">Clavrit Digital Solutions empowers
                                                businesses to
                                                meet the challenges of digital transformation. We have delivered
                                                several
                                                enterprise-scale SAP Hybris implementations across the globe. We are
                                                recipient
                                                of the prestigious SAP Innovation Award in 2018. The SAP Innovation
                                                Awards
                                                celebrate the achievements of ingenious companies who are
                                                transforming
                                                businesses using SAP products. Our services include SAP Hybris
                                                Commerce,
                                                Datahub, Machine Learning and Artificial Intelligence.</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div style="clear: both;"></div>
                        </div>


                        <div class="span6 columngridtwo">
                            <div class="image-alignment"> <img alt="Why Clavrit Digital Solutions Pvt Ltd"
                                    src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919442454about1.png"
                                    data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919442454about1.png"
                                    class="img-circle img-responsive why-section "
                                    style="height:100px;margin:auto;display:block;"> </div>
                            <div class="columngrid-desc fixedImgAlignmnetFixed ">
                                <div>
                                    <h2 class="viamagus-heading2">
                                        <div style="text-align: center;">Why Clavrit Digital Solutions Pvt Ltd
                                        </div>
                                    </h2>
                                    <div class="viamagus-paragraph">
                                        <div style="text-align: center;">Our capabilities in Machine Learning
                                            and Artificial
                                            Intelligence give us a competitive edge in this exclusive domain. We
                                            provide
                                            complete end to end solutions that encompass - marketing, sales,
                                            commerce,
                                            service and finance. We have helped our clients to transform their
                                            businesses
                                            with proven AI and digital capabilities. Our customers have superior
                                            cross
                                            channel interactions, can predict trends and interact with real-time
                                            users.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div  style="clear: both;"></div>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div>
                <h1 #career style="margin-top:50px; text-align: center; ">Careers</h1>
                <div>
                    <style>
                        table {
                            border-collapse: collapse;
                            width: 100%;
                        }

                        table,
                        th,
                        td {
                            border: 1px solid;
                        }
                    </style>
                    <table style="border: 1px solid black;">
                        <thead>
                            <th>
                                Sr.
                            </th>
                            <th>Position</th>
                            <th>Qualification</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr >
                                <td>1</td>
                                <td>Java Developer</td>
                                <td>Graduate</td>
                                <td><button disabled> Apply Now</button></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>HR</td>
                                <td>Graduate</td>
                                <td><button disabled> Apply Now</button></td>
                            </tr>


                            <tr>
                                <td>3</td>
                                <td>Trainee Software Developer</td>
                                <td>Graduate</td>
                                <td><button disabled> Apply Now</button></td>
                            </tr>


                            <tr>
                                <td>4</td>
                                <td>Hybris Developer</td>
                                <td>Graduate</td>
                                <td><button disabled> Apply Now</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </section>
        <h1  style=" margin-top: 50px ; text-align: center;">Contact Us</h1>
        <div>
            <span style="float: left; margin: 10px; ">
                <div #contactUs class="span 4" style="text-align: center;  "><br> <br> <img
                        src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571918671524Locationicon.png"
                        style="width: 35px; height: 35px;"></div>
                <div style="text-align: center;"><span style="font-size:22px;">Address</span><br> 18, Institutional
                    Area, Prem Puri, Sector 32, Gurugram, Haryana 122001<br> <br> <img
                        src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571918676998Phoneicon.png"
                        style="width: 30px; height: 30px;"><br> <span style="font-size:22px;">Phone</span><br> <a
                        href="tel:+91-9810 167 782">+91-9810 167 782</a><br> <br> <img
                        src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571918674411Mailicon.png"
                        style="width: 30px; height: 30px;"><br> <span style="font-size:22px;">Email</span><br> <a
                        href="mailto:info@clavrit.com?Subject=Hi" target="_top">info@clavrit.com</a></div>
            </span> <span style="float: right ; margin-right: 10px;">
                <div style="padding:20px;">
                    <h3 class="contact-title"> Get In Touch </h3>
                    <div class="vm-form-control">
                        <p class="contact-name"> <input style="height: 39px;width: 300px;" type="text"
                                placeholder="Name" value="" name="name" required=""> </p>
                        <p class="contact-email"> <input style="height: 39px;width: 300px;" type="text"
                                placeholder="Email Address" value="" name="email" required=""> </p>
                        <p class="contact-email"> <input style="height: 39px;width: 300px;" type="text"
                                placeholder="Phone Number" value="" name="text"> </p>
                        <p class="contact-message"> <textarea id="customerMessage" placeholder="Message" name="message"
                                rows="4" cols="40" required=""></textarea> </p>
                    </div>
                    <div  class="contact-submit">
                        <div class="button-align" style="text-align:left;; "> <input
                                style=" background-color: #24aee4;border: none;color: white;padding: 16px 32px; margin: 4px 2px;cursor: pointer;"
                                class="btn viamagus-button-default viamagus-button-" type="submit" value="Send"> </div>
                    </div>
                </div>
            </span>

        </div>



    </section>
    <div class="container" style="background-image: url(../assets/images/loacl.png); width: 90%;  ">
        <h1  style="margin-left: 39%; color: white; margin-top: 20px; "> Our Tech. </h1>
        <p #ourTech style="color: white ; margin-left: 10%;margin-top: 30px;">Our products and services help our customers
            consistently deliver their best. We are renowned for our excellent success rate</p>

        <div  class="row">
            <div style="margin-left: 60px;" class="col-sm-3">

                <div>
                    <div class="image-alignment"> <img alt="SAP Hybris commerce"
                            src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            class="img-circle img-responsive why-section "
                            style="height:50px;margin-left:7%; margin-top: 30px ; display:block;">
                    </div>
                    <div class="columngrid-desc fixedImgAlignmnetFixed ">
                        <div>
                            <h2 class="viamagus-heading2">
                                <div style="margin-left: 10px; font-size: 23px; "><span style="color:#FFFFFF;">SAP
                                        Hybris commerce</span>
                                </div>
                            </h2>
                            <div>
                                <div style="margin-left: 30px; "><span style="color:#FFFFFF ; text-align: right; ">SAP
                                        Hybris Commerce <br> allows you
                                        to target and <br> engage clients across a <br> broad spectrum of channels with
                                        <br> ease, and
                                        provide end <br> to end solutions.</span></div>
                            </div>
                        </div>

                    </div>
                    <div style="clear: both;"></div>
                </div>



            </div>
            <div style="margin-left: 50px;" class="col-sm-3">

                <div>
                    <div class="image-alignment"> <img alt="SAP Hybris commerce"
                            src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            class="img-circle img-responsive why-section "
                            style="height:50px;margin-left:7%; margin-top: 30px ; display:block;">
                    </div>
                    <div class="columngrid-desc fixedImgAlignmnetFixed ">
                        <div>
                            <h2 class="viamagus-heading2">
                                <div style="margin-left: 10px; font-size: 23px; "><span style="color:#FFFFFF;">SAP
                                        Hybris commerce</span>
                                </div>
                            </h2>
                            <div>
                                <div style="margin-left: 30px; "><span style="color:#FFFFFF ; text-align: right; ">SAP
                                        Hybris Commerce <br> allows you
                                        to target and <br> engage clients across a <br> broad spectrum of channels with
                                        <br> ease, and
                                        provide end <br> to end solutions.</span></div>
                            </div>
                        </div>

                    </div>
                    <div style="clear: both;"></div>
                </div>


            </div>
            <div style="margin-left: 50px ;" class="col-sm-3">
                <div>
                    <div class="image-alignment"> <img alt="SAP Hybris commerce"
                            src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571913484998Icon1.png"
                            class="img-circle img-responsive why-section "
                            style="height:50px;margin-left:7%; margin-top: 30px ; display:block;">
                    </div>
                    <div  class="columngrid-desc fixedImgAlignmnetFixed ">
                        <div>
                            <h2 class="viamagus-heading2">
                                <div style="margin-left: 10px; font-size: 23px; "><span style="color:#FFFFFF;">SAP
                                        Hybris commerce</span>
                                </div>
                            </h2>
                            <div>
                                <div style="margin-left: 30px; "><span style="color:#FFFFFF ; text-align: right; ">SAP
                                        Hybris Commerce <br> allows you
                                        to target and <br> engage clients across a <br> broad spectrum of channels with
                                        <br> ease, and
                                        provide end <br> to end solutions.</span></div>
                            </div>
                        </div>

                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>




    <div>
        <h1  style=" margin-top: 50px; text-align: center;">Our Team</h1>



        <div #ourTeam class="col-md-12">
            <section class="panel">
                <div class="panel-body profile-information">
                    <div class="col-md-3">
                        <div class="profile-pic text-center">
                            <img src="/assets/images/avatar-mini-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-desk">
                            <h1>Amarjeet Dangi</h1>
                            <span class="text-muted">Founder</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum
                                imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel
                                orci quis sagittis.
                            </p>
                            <a href="#" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile-statistics">
                            <h1>1240</h1>
                            <p>This Week Sales</p>
                            <h1>$5,61,240</h1>
                            <p>This Week Earn</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body profile-information">
                    <div class="col-md-3">
                        <div class="profile-pic text-center">
                            <img src="./assets/images/avatar1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-desk">
                            <h1>Tina Dangi</h1>
                            <span class="text-muted">Co-Founder</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum
                                imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel
                                orci quis sagittis.
                            </p>
                            <a href="#" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile-statistics">
                            <h1>1240</h1>
                            <p>This Week Sales</p>
                            <h1>$5,61,240</h1>
                            <p>This Week Earn</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body profile-information">
                    <div class="col-md-3">
                        <div class="profile-pic text-center">
                            <img src="./assets/images/avatar-mini.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-desk">
                            <h1>Parmod</h1>
                            <span class="text-muted">HR Head</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum
                                imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel
                                orci quis sagittis.
                            </p>
                            <a href="#" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile-statistics">
                            <h1>1240</h1>
                            <p>This Week Sales</p>
                            <h1>$5,61,240</h1>
                            <p>This Week Earn</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body profile-information">
                    <div class="col-md-3">
                        <div class="profile-pic text-center">
                            <img src="./assets/images/avatar-mini-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-desk">
                            <!-- <h1>Meenakshi</h1> -->
                            <span class="text-muted"> Full stack Developer</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum
                                imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel
                                orci quis sagittis.
                            </p>
                            <a href="#" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profile-statistics">
                            <h1>1240</h1>
                            <p>This Week Sales</p>
                            <h1>$5,61,240</h1>
                            <p>This Week Earn</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>


</section>