



<!--sidebar start-->

    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" routerLink="/user-dashboard" routerLinkActive="active">
                        <i class="fa fa-dashboard"></i>
                        <span >{{empName}}</span>

                    </a>
                </li>
                <app-punch></app-punch>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>

<!--sidebar end-->