table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;

}

td,
th {
    padding: 1px;
}

.btn-success {
  
    
    background-color: #24aee4;
    border-color: #24aee4;
}

a {
    color: white;
}

p {
    margin: 6px 10px;
    font-size: 15px;
    color: white;
}

.modal-header {
    background: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.modal-header {
    padding-right: 11px;
    padding-top: 5px;
    border-bottom: 0px solid white; 
    min-height: 16.428571429px;
}
.modal-footer {
    margin-bottom: 0px;
    text-align: right;
    border-top: 0px solid #fff;
    padding-bottom: 10px;
}