<app-user-sidebar></app-user-sidebar>
<section id="main-content">
    <section style="background-color:#24aee4;"  class="wrapper">
   

      <head>
          <title>My Info</title>

      </head>
      <div  style="margin-top: 43px; " class="horizontal-menu navbar-collapse collapse">
        <ul class="nav navbar-nav">

          
          <li  style="margin-top: 10px;"><a style="color: white;" class="btn" [routerLink]="['/MyInfo/document']" routerLinkActive="active">Document</a></li>
          <li style="margin-top: 10px;margin-left: 10px;"><a style="color: white;" class="btn" [routerLink]="['/MyInfo/personal']" routerLinkActive="active">Personal</a></li>
        </ul>
      </div>
      <body>
        
      
    </body>
    
    
    </section>
  </section>
  <router-outlet></router-outlet>
<!-- <app-document></app-document> -->
